*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f4f4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.quiz-app{
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    color: #333;
    box-shadow: 0 0 30px rgba(0,0,0,0.3);
    max-width: 400px;   
}

.quiz-app h1{
    margin-bottom: 20px;
    color: #333;
}   

.quiz-app h2{
    font-size: 1.1rem;
    margin-bottom: 20px;
    color: #444;
}


.answers{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.answer{
    padding: 12px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.3s;
}

.answer:hover{
    background: #0056b3;
}

#next-question{
    margin-top: 20px;
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 8px;
    background: #28a745;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    display: none;
}

#next-question:hover{
    background: #1e7e34;
}


/* responsive on mobile screen*/
@media (max-width: 480px){
    .quiz-app{
        padding: 20px;
    }

}
